body {
    margin: 0;
    padding: 0;
}

#container {
    background-color: #E1F2FC;
    width: 100%;
    height: 92em;
    top: 0px;
    z-index: 0;
    position: absolute;
}

.header {
    margin: auto;
    padding: 20px;
    position: absolute;
    width: 95.1%;
    top: 2%;
    right: auto;
    left: 0.5%;
    background-color: #FAF7F0;
    border: 5px solid #98A8F8;
    color: #4B5320;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.header_title {
    margin: 0;
}

.side_menu {
    background-color: #BBB6DF;
    border: 5px solid #98A8F8;
    position: absolute;
    top: 22%;
    left: 0.5em;
    bottom: 1em;
    width: 200px;
    height: 182%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.side-menu-item {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #665C1E;
    text-align: center;
    font-size: 1rem;
    z-index: 1;
}

.side-menu-item:hover {
    background-color: #BDBDBD;
}

.side_menu a,
.side_menu a:visited {
    text-decoration: none;
    color: #665C1E;
}

.home_page_content {
    border: 5px solid #98A8F8;
    background-color: white;
    margin-top: 0.8em;
    margin-left: 14em;
    margin-right: 0.5em;
    top: 7.2em;
    width: 80.3%;
    height: 177.7%;
    padding: 1em;
    position: absolute;
    z-index: 1;
}

.peeking_beagle img {
    width: 15%;
    bottom: 0%;
    right: 0%;
    position: fixed;
    z-index: 2;
}

.home-page-text {
    text-align: center;
    height: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF7F0;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #ccc;
    padding: 10px;
}

.footer {
    background-color: #FAF7F0;
    border: 5px solid #54738E;
    color: black;
    text-align: center;
    padding: 20px;
    z-index: 1;
    position: absolute;
    top: 86em;
    left: 0.5em;
    width: 96%;
}

#first_p {
    width: 40%;
    height: 21%;
    position: absolute;
    right: 50%;
    top: 37%;
    line-height: 250%;
}

#second_p {
    width: 40%;
    height: 21%;
    position: absolute;
    right: 55%;
    top: 37%;
    line-height:250%;
}
